Node-redPLC 1.2.json
[{"id":"66690146.603d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"77c92f5c.3c5c6","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"16610ff9.130c4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c18f7b24.7e50c8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"35ab10d2.bef1f","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"4ecf2734.33e1d8","type":"modbus-client","z":"","name":"AS300","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"cbb966af.c41158","type":"ui_group","z":"","name":"Network","tab":"ae1014f3.c76cb8","order":3,"disp":true,"width":10,"collapse":false},{"id":"80cad9cb.466808","type":"ui_group","z":"","name":"CPU Scan Time","tab":"ae1014f3.c76cb8","order":2,"disp":true,"width":"10","collapse":false},{"id":"3cfc27f.8aac0d8","type":"ui_group","z":"","name":"Data","tab":"ae1014f3.c76cb8","order":4,"disp":true,"width":10,"collapse":false},{"id":"844fcb1e.6a0778","type":"ui_group","z":"","name":"Status","tab":"ae1014f3.c76cb8","order":1,"disp":true,"width":10,"collapse":false},{"id":"ae1014f3.c76cb8","type":"ui_tab","z":"","name":"System ","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"afd130ad.51313","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a15a5d4.4b46da","type":"mqtt-broker","z":"","name":"mosquitto","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5b15fbfe.4762c4","type":"modbus-client","z":"","name":"AS300","clienttype":"tcp","bufferCommands":false,"stateLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":0,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"a17975e1.508d38","type":"ui_group","name":"Turbin","tab":"d6d9a259.93c91","order":1,"disp":false,"width":25,"collapse":false},{"id":"d6d9a259.93c91","type":"ui_tab","name":"Turbin","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f6755d03.b4ed5","type":"mqtt-broker","z":null,"name":"MqTT","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"4f9568df.237a68","type":"ui_group","name":"Turbin","tab":"32637d17.d3c4d2","order":1,"disp":false,"width":25,"collapse":false},{"id":"32637d17.d3c4d2","type":"ui_tab","name":"Turbin","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"fdd58e5.470a57","type":"mqtt-broker","name":"MqTT","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"2ab73c2e.e756c4","type":"ui_group","name":"Recipro","tab":"aa2b860.86f9978","order":1,"disp":false,"width":21,"collapse":false},{"id":"aa2b860.86f9978","type":"ui_tab","name":"Recipro","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"30c9d422.87b6dc","type":"mqtt-broker","name":"MqTT","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"16d5545a.6574dc","type":"ui_group","name":"Flow Rate","tab":"1e508071.79d58","order":1,"disp":false,"width":21,"collapse":false},{"id":"1e508071.79d58","type":"ui_tab","name":"Flow Rate","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a470ed5a.46097","type":"ui_group","z":"","name":"Arbeitszimmer","tab":"","order":1,"disp":false,"width":"10","collapse":false},{"id":"dbcf35e1.f99aa8","type":"mqtt-broker","z":"","name":"MqTT","broker":"broker.flowfuse.cloud","port":"1883","tls":"","clientid":"Krigsmann1@AmN5lMWvyR","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"204bf7de.ff89d8","type":"modbus-client","z":"","name":"AS300","clienttype":"tcp","bufferCommands":false,"stateLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"0","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"2c16076d.171468","type":"mqtt-broker","z":"","name":"MqTT","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"354ca6c9.488cea","type":"ui_group","name":"Recipro","tab":"8a558126.9402c","order":1,"disp":false,"width":21,"collapse":false},{"id":"8a558126.9402c","type":"ui_tab","name":"Recipro","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e48eb50c.545e98","type":"ui_group","name":"Flow Rate","tab":"db4e6d05.ddff4","order":1,"disp":false,"width":21,"collapse":false},{"id":"b9b83653.d0b468","type":"mqtt-broker","z":"","name":"MqTT","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"e02ad17a.58ce5","type":"modbus-client","z":"","name":"AS300","clienttype":"tcp","bufferCommands":false,"stateLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":0,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"db4e6d05.ddff4","type":"ui_tab","name":"Flow Rate","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"11301c3c.0ecf64","type":"mqtt-broker","z":"","name":"Hivemq","broker":"efb3148674c04fb19f01eef5c523d303.s1.eu.hivemq.cloud","port":"8883","clientid":"krigsman1","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c1c0a274.c67a6","type":"mqtt in","z":"66690146.603d8","name":"","topic":"\"KRG001RPMTURBINEINPUT\"","qos":"2","broker":"b9b83653.d0b468","x":810,"y":580,"wires":[["5b3d6312.694c3c"]]},{"id":"319211a1.00d7de","type":"mqtt in","z":"66690146.603d8","name":"","topic":"\"KRG01TOMBOLOFF\"","qos":"1","broker":"b9b83653.d0b468","x":800,"y":300,"wires":[["f6eff862.213fb8"]]},{"id":"9acddcd5.a3606","type":"modbus-write","z":"66690146.603d8","name":"OFF","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"1","quantity":"1","server":"204bf7de.ff89d8","x":1310,"y":280,"wires":[[],[]]},{"id":"7bbd3fa2.49917","type":"mqtt in","z":"66690146.603d8","name":"","topic":"\"KRG001TOMBOLMANUAL\"","qos":"1","broker":"b9b83653.d0b468","x":820,"y":340,"wires":[["83df0683.6dc998"]]},{"id":"856370c8.a262c","type":"mqtt in","z":"66690146.603d8","name":"","topic":"\"KRG01TOMBOLAUTO\"","qos":"1","broker":"b9b83653.d0b468","x":810,"y":380,"wires":[["fbbf711d.23ab1"]]},{"id":"36239392.c523cc","type":"mqtt out","z":"66690146.603d8","name":"","topic":"\"KRG001RPMTURBINE\"","qos":"","retain":"","broker":"b9b83653.d0b468","x":1030,"y":500,"wires":[]},{"id":"2769f529.2b35ba","type":"mqtt out","z":"66690146.603d8","name":"","topic":"\"KRG001TEMPERATURE\"","qos":"1","retain":"","broker":"b9b83653.d0b468","x":1200,"y":640,"wires":[]},{"id":"d4f9b98b.92b578","type":"mqtt out","z":"66690146.603d8","name":"","topic":"\"KRG001AMPEREMOTOR\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":1240,"y":740,"wires":[]},{"id":"452a13f8.7603dc","type":"modbus-write","z":"66690146.603d8","name":"MANUAL","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"11","quantity":"1","server":"204bf7de.ff89d8","x":1320,"y":340,"wires":[[],[]]},{"id":"6af7392b.9c6cb8","type":"modbus-write","z":"66690146.603d8","name":"AUTO","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"Coil","adr":"12","quantity":"1","server":"204bf7de.ff89d8","x":1310,"y":400,"wires":[[],[]]},{"id":"b928772e.316b88","type":"modbus-read","z":"66690146.603d8","name":"RPM READ","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"11","quantity":"1","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"204bf7de.ff89d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":800,"y":460,"wires":[["36239392.c523cc"],[]]},{"id":"5b3d6312.694c3c","type":"modbus-write","z":"66690146.603d8","name":"RPM WRITE","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"11","quantity":"1","server":"204bf7de.ff89d8","x":1070,"y":580,"wires":[[],[]]},{"id":"2098cf85.fabc7","type":"modbus-read","z":"66690146.603d8","name":"TEMPERATURE","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"28082","quantity":"1","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"204bf7de.ff89d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":780,"y":660,"wires":[["ae6bbfeb.44a2"],[]]},{"id":"db19b541.9d2e58","type":"modbus-read","z":"66690146.603d8","name":"AMPERE","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"116","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"204bf7de.ff89d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":820,"y":740,"wires":[["a549a81c.9268f8"],[]]},{"id":"38150efb.0c0aa2","type":"modbus-write","z":"66690146.603d8","name":"ON","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"204bf7de.ff89d8","x":1310,"y":200,"wires":[[],[]]},{"id":"440ba6b7.0b7f38","type":"change","z":"66690146.603d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":240,"wires":[["38150efb.0c0aa2"]]},{"id":"224c3cbd.830994","type":"mqtt in","z":"66690146.603d8","name":"","topic":"\"KRG001TOMBOLON\"","qos":"1","broker":"b9b83653.d0b468","x":800,"y":260,"wires":[["440ba6b7.0b7f38"]]},{"id":"f6eff862.213fb8","type":"change","z":"66690146.603d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":280,"wires":[["9acddcd5.a3606"]]},{"id":"83df0683.6dc998","type":"change","z":"66690146.603d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":340,"wires":[["452a13f8.7603dc"]]},{"id":"fbbf711d.23ab1","type":"change","z":"66690146.603d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":400,"wires":[["6af7392b.9c6cb8"]]},{"id":"500f08d7.874348","type":"ui_text","z":"16610ff9.130c4","group":"e48eb50c.545e98","order":0,"width":0,"height":0,"name":"","label":"text2","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":240,"wires":[]},{"id":"3237d773.bbb648","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG001OUTPUTCAT1\"","topic":"\"KRG001OUTPUTCAT1\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":470,"y":180,"wires":[]},{"id":"cb16a752.917d18","type":"modbus-read","z":"16610ff9.130c4","name":"Output Cat / Min 1","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"2100","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":180,"y":220,"wires":[["3237d773.bbb648","98169d5b.a77c3"],[]]},{"id":"eae94627.a5abf8","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG001OUTPUTCAT2\"","topic":"\"KRG001OUTPUTCAT2\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":450,"y":280,"wires":[]},{"id":"2bef3614.f5a00a","type":"modbus-read","z":"16610ff9.130c4","name":"Output Cat / Min 2","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"2102","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":180,"y":280,"wires":[["eae94627.a5abf8","500f08d7.874348"],[]]},{"id":"35d295ea.73380a","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG001OUTPUTCAT3\"","topic":"\"KRG001OUTPUTCAT3\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":450,"y":340,"wires":[]},{"id":"895a872f.44fcf8","type":"modbus-read","z":"16610ff9.130c4","name":"Output Cat / Min 3","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"2104","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":180,"y":340,"wires":[["35d295ea.73380a","9efd2d04.fe7ae"],[]]},{"id":"f59d1a92.350f48","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG001OUTPUTCAT4\"","topic":"\"KRG001OUTPUTCAT4\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":450,"y":400,"wires":[]},{"id":"976905d7.c5e358","type":"modbus-read","z":"16610ff9.130c4","name":"Output Cat / Min 4","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"2106","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":180,"y":400,"wires":[["f59d1a92.350f48","5ad8a0b9.0b4ec"],[]]},{"id":"66903809.619be8","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG001TOTALOUTPUTCAT1\"","topic":"\"KRG001TOTALOUTPUTCAT1\"","qos":"","retain":"","broker":"b9b83653.d0b468","x":470,"y":500,"wires":[]},{"id":"adfcbcb8.5df64","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG001TOTALOUTPUTCAT2\"","topic":"\"KRG001TOTALOUTPUTCAT2\"","qos":"","retain":"","broker":"b9b83653.d0b468","x":470,"y":540,"wires":[]},{"id":"e7f3d259.56731","type":"modbus-read","z":"16610ff9.130c4","name":"Output Total Cat 2","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"2110","quantity":"2","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":200,"y":540,"wires":[["adfcbcb8.5df64"],[]]},{"id":"168e0cb9.ec00b3","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG001TOTALOUTPUTCAT3\"","topic":"\"KRG001TOTALOUTPUTCAT3\"","qos":"","retain":"","broker":"b9b83653.d0b468","x":470,"y":580,"wires":[]},{"id":"778d450e.6a395c","type":"modbus-read","z":"16610ff9.130c4","name":"Output Total Cat 3","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"2112","quantity":"2","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":200,"y":580,"wires":[["168e0cb9.ec00b3"],[]]},{"id":"aa737f97.3599f","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG001TOTALOUTPUTCAT4\"","topic":"\"KRG001TOTALOUTPUTCAT4\"","qos":"","retain":"","broker":"b9b83653.d0b468","x":470,"y":620,"wires":[]},{"id":"21550dfa.355e52","type":"modbus-read","z":"16610ff9.130c4","name":"Output Total Cat 4","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"2114","quantity":"2","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":200,"y":620,"wires":[["aa737f97.3599f"],[]]},{"id":"b511347c.b8f5d8","type":"mqtt in","z":"16610ff9.130c4","name":"\"KRG001TOMBOLRESET1\"","topic":"\"KRG001TOMBOLRESET1\"","qos":"2","broker":"b9b83653.d0b468","x":230,"y":700,"wires":[["41bc6dac.ae7fd4"]]},{"id":"41bc6dac.ae7fd4","type":"modbus-write","z":"16610ff9.130c4","name":"Reset Btn 1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"200","quantity":"1","server":"e02ad17a.58ce5","x":450,"y":700,"wires":[[],[]]},{"id":"1e2ed7d5.e9b9a8","type":"mqtt in","z":"16610ff9.130c4","name":"\"KRG001TOMBOLRESET2\"","topic":"\"KRG001TOMBOLRESET2\"","qos":"2","broker":"b9b83653.d0b468","x":240,"y":740,"wires":[["cee78923.1b5198"]]},{"id":"cee78923.1b5198","type":"modbus-write","z":"16610ff9.130c4","name":"Reset Btn 2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"201","quantity":"1","server":"e02ad17a.58ce5","x":460,"y":740,"wires":[[],[]]},{"id":"60318762.9131f8","type":"mqtt in","z":"16610ff9.130c4","name":"\"KRG001TOMBOLRESET3\"","topic":"\"KRG001TOMBOLRESET3\"","qos":"2","broker":"b9b83653.d0b468","x":260,"y":780,"wires":[["ee518881.2151d8"]]},{"id":"ee518881.2151d8","type":"modbus-write","z":"16610ff9.130c4","name":"Reset Btn 3","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"202","quantity":"1","server":"e02ad17a.58ce5","x":480,"y":780,"wires":[[],[]]},{"id":"22082359.aecf3c","type":"mqtt in","z":"16610ff9.130c4","name":"\"KRG001TOMBOLRESET4\"","topic":"\"KRG001TOMBOLRESET4\"","qos":"2","broker":"b9b83653.d0b468","x":280,"y":820,"wires":[["b12c4cfb.39d5b"]]},{"id":"b12c4cfb.39d5b","type":"modbus-write","z":"16610ff9.130c4","name":"Reset Btn 4","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"203","quantity":"1","server":"e02ad17a.58ce5","x":500,"y":820,"wires":[[],[]]},{"id":"84a5022f.7da36","type":"modbus-read","z":"16610ff9.130c4","name":"Output Total Cat 1","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"2108","quantity":"2","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":200,"y":500,"wires":[["66903809.619be8"],[]]},{"id":"98169d5b.a77c3","type":"ui_text","z":"16610ff9.130c4","group":"e48eb50c.545e98","order":0,"width":0,"height":0,"name":"","label":"text1","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":140,"wires":[]},{"id":"9efd2d04.fe7ae","type":"ui_text","z":"16610ff9.130c4","group":"e48eb50c.545e98","order":0,"width":0,"height":0,"name":"","label":"text3","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":280,"wires":[]},{"id":"5ad8a0b9.0b4ec","type":"ui_text","z":"16610ff9.130c4","group":"e48eb50c.545e98","order":0,"width":0,"height":0,"name":"","label":"text4","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":380,"wires":[]},{"id":"f3e6d89a.0b5ad8","type":"mqtt out","z":"77c92f5c.3c5c6","name":"","topic":"\"KRG001SPEEDINPUT\"","qos":"","retain":"","broker":"2c16076d.171468","x":570,"y":180,"wires":[]},{"id":"75f1a419.0f90dc","type":"mqtt out","z":"77c92f5c.3c5c6","name":"","topic":"\"KRG001SPRAYGUN1TOGGLE\"","qos":"","retain":"","broker":"2c16076d.171468","x":460,"y":240,"wires":[]},{"id":"32b2cf6a.192f2","type":"ui_switch","z":"77c92f5c.3c5c6","name":"","label":"Spray Gun 1","tooltip":"","group":"354ca6c9.488cea","order":15,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":240,"wires":[["75f1a419.0f90dc"]]},{"id":"991dd7bd.2420e8","type":"mqtt out","z":"77c92f5c.3c5c6","name":"","topic":"\"KRG001SPRAYGUN2TOGGLE\"","qos":"","retain":"","broker":"2c16076d.171468","x":460,"y":280,"wires":[]},{"id":"fdc9149.d7dc3e8","type":"ui_switch","z":"77c92f5c.3c5c6","name":"","label":"Spray Gun 2","tooltip":"","group":"354ca6c9.488cea","order":18,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":280,"wires":[["991dd7bd.2420e8"]]},{"id":"2af27979.3bf756","type":"mqtt out","z":"77c92f5c.3c5c6","name":"","topic":"\"KRG001SPRAYGUN3TOGGLE\"","qos":"","retain":"","broker":"2c16076d.171468","x":460,"y":320,"wires":[]},{"id":"dc57652.c954798","type":"ui_switch","z":"77c92f5c.3c5c6","name":"","label":"Spray Gun 3","tooltip":"","group":"354ca6c9.488cea","order":21,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":320,"wires":[["2af27979.3bf756"]]},{"id":"3abea63b.d8b66a","type":"mqtt out","z":"77c92f5c.3c5c6","name":"","topic":"\"KRG001SPRAYGUN4TOGGLE\"","qos":"","retain":"","broker":"2c16076d.171468","x":460,"y":360,"wires":[]},{"id":"b2addf0b.f97bc","type":"ui_switch","z":"77c92f5c.3c5c6","name":"","label":"Spray Gun 4","tooltip":"","group":"354ca6c9.488cea","order":25,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":360,"wires":[["3abea63b.d8b66a"]]},{"id":"6f076dce.b99a44","type":"ui_slider","z":"77c92f5c.3c5c6","name":"","label":"Speed (m/s)","tooltip":"","group":"354ca6c9.488cea","order":8,"width":6,"height":1,"passthru":true,"outs":"end","topic":"topic","min":0,"max":"100","step":1,"x":170,"y":180,"wires":[["e1ed064.34c89f8"]]},{"id":"65773772.565fb8","type":"ui_slider","z":"77c92f5c.3c5c6","name":"","label":"Max","tooltip":"","group":"354ca6c9.488cea","order":12,"width":1,"height":4,"passthru":true,"outs":"end","topic":"topic","min":0,"max":10,"step":1,"x":870,"y":200,"wires":[["ec53cc6f.24139"]]},{"id":"beaca569.fb4938","type":"ui_slider","z":"77c92f5c.3c5c6","name":"","label":"Min","tooltip":"","group":"354ca6c9.488cea","order":23,"width":1,"height":4,"passthru":true,"outs":"end","topic":"topic","min":0,"max":10,"step":1,"x":870,"y":280,"wires":[["57a7e00b.5998b"]]},{"id":"ec53cc6f.24139","type":"mqtt out","z":"77c92f5c.3c5c6","name":"","topic":"\"KRG001RECIPROMAX\"","qos":"","retain":"","broker":"2c16076d.171468","x":1170,"y":200,"wires":[]},{"id":"57a7e00b.5998b","type":"mqtt out","z":"77c92f5c.3c5c6","name":"","topic":"\"KRG001RECIPROMIN\"","qos":"","retain":"","broker":"2c16076d.171468","x":1170,"y":280,"wires":[]},{"id":"ce917cea.fb894","type":"ui_text","z":"77c92f5c.3c5c6","group":"354ca6c9.488cea","order":9,"width":3,"height":1,"name":"","label":"","format":"{{msg.payload}} m/s","layout":"row-left","x":450,"y":140,"wires":[]},{"id":"f12ec0d0.3ef27","type":"mqtt in","z":"77c92f5c.3c5c6","name":"","topic":"\"KRG001SPEEDVALUE\"","qos":"2","broker":"2c16076d.171468","x":210,"y":140,"wires":[["ce917cea.fb894"]]},{"id":"e1ed064.34c89f8","type":"function","z":"77c92f5c.3c5c6","name":"DATA SCALING","func":"var inputData = msg.payload;\n\nvar minInput = 0;\nvar maxInput = 100;\n\nvar minOutput = 0;\nvar maxOutput = 14500;\n\n\nvar scaledData = ((inputData - minInput) / (maxInput - minInput)) * (maxOutput - minOutput) + minOutput;\n\nmsg.payload = scaledData;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["f3e6d89a.0b5ad8"]]},{"id":"58f6a91.ea5f958","type":"mqtt in","z":"16610ff9.130c4","name":"\"KRG01valuevalve1\"","topic":"\"KRG01inputvalve1\"","qos":"2","broker":"b9b83653.d0b468","x":890,"y":580,"wires":[["eccf4d0c.ea0c2"]]},{"id":"51c1a3ef.65b40c","type":"mqtt in","z":"16610ff9.130c4","name":"\"KRG01valuevalve2\"","topic":"\"KRG01inputvalve2\"","qos":"2","broker":"b9b83653.d0b468","x":870,"y":640,"wires":[["5b6e6ad1.6cad44"]]},{"id":"e18688f3.09d648","type":"mqtt in","z":"16610ff9.130c4","name":"\"KRG01valuevalve3\"","topic":"\"KRG01inputvalve3\"","qos":"2","broker":"b9b83653.d0b468","x":830,"y":700,"wires":[["683657bf.c620e8"]]},{"id":"34d46a39.8baab6","type":"mqtt in","z":"16610ff9.130c4","name":"\"KRG01valuevalve4\"","topic":"\"KRG01inputvalve4\"","qos":"2","broker":"b9b83653.d0b468","x":850,"y":760,"wires":[["26b7be2c.b87e22"]]},{"id":"75438f40.accac","type":"mqtt in","z":"16610ff9.130c4","name":"\"KRG01valuevalve5\"","topic":"\"KRG01inputvalve5\"","qos":"2","broker":"b9b83653.d0b468","x":850,"y":820,"wires":[["de247f21.6d3f7"]]},{"id":"f6c5676e.ae8018","type":"mqtt in","z":"16610ff9.130c4","name":"\"KRG01valuevalve6\"","topic":"\"KRG01inputvalve6\"","qos":"2","broker":"b9b83653.d0b468","x":830,"y":900,"wires":[["7d43a819.ab92f8"]]},{"id":"eccf4d0c.ea0c2","type":"modbus-write","z":"16610ff9.130c4","name":"valve 1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"130","quantity":"1","server":"e02ad17a.58ce5","x":1100,"y":600,"wires":[[],[]]},{"id":"5b6e6ad1.6cad44","type":"modbus-write","z":"16610ff9.130c4","name":"valve 2","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"131","quantity":"1","server":"e02ad17a.58ce5","x":1140,"y":660,"wires":[[],[]]},{"id":"683657bf.c620e8","type":"modbus-write","z":"16610ff9.130c4","name":"valve 3","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"132","quantity":"1","server":"e02ad17a.58ce5","x":1240,"y":720,"wires":[[],[]]},{"id":"26b7be2c.b87e22","type":"modbus-write","z":"16610ff9.130c4","name":"valve 4","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"133","quantity":"1","server":"e02ad17a.58ce5","x":1100,"y":760,"wires":[[],[]]},{"id":"de247f21.6d3f7","type":"modbus-write","z":"16610ff9.130c4","name":"valve 5","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"134","quantity":"1","server":"e02ad17a.58ce5","x":1200,"y":820,"wires":[[],[]]},{"id":"7d43a819.ab92f8","type":"modbus-write","z":"16610ff9.130c4","name":"valve 6","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"135","quantity":"1","server":"e02ad17a.58ce5","x":1080,"y":940,"wires":[[],[]]},{"id":"25931c9b.c5f1d4","type":"modbus-read","z":"c18f7b24.7e50c8","name":"Rpm Program ","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1000","quantity":"1","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"4ecf2734.33e1d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":900,"y":360,"wires":[["9b2f66f5.934b78"],[]]},{"id":"9b2f66f5.934b78","type":"mqtt out","z":"c18f7b24.7e50c8","name":"RPM PROGRAM MESIN","topic":"\"KRG001RESCIPERPMBLOKMESIN\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":1220,"y":360,"wires":[]},{"id":"f48838a5.5c7458","type":"modbus-read","z":"c18f7b24.7e50c8","name":"Valve 1","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"130","quantity":"1","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"4ecf2734.33e1d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":890,"y":440,"wires":[["8c470ea.98351f"],[]]},{"id":"51ec9731.858438","type":"modbus-read","z":"c18f7b24.7e50c8","name":"Valve 2","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"131","quantity":"1","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"4ecf2734.33e1d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":890,"y":520,"wires":[["7559b4a1.558dcc"],[]]},{"id":"2df8a512.0ab79a","type":"modbus-read","z":"c18f7b24.7e50c8","name":"Valve 3","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"132","quantity":"1","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"4ecf2734.33e1d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":870,"y":600,"wires":[["a44da5b3.fc70a8"],[]]},{"id":"8c470ea.98351f","type":"mqtt out","z":"c18f7b24.7e50c8","name":"Valve 1","topic":"\"KRG001inputvalve1\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":1180,"y":440,"wires":[]},{"id":"7559b4a1.558dcc","type":"mqtt out","z":"c18f7b24.7e50c8","name":"Valve 2","topic":"\"KRG001inputvalve2\"","qos":"2","retain":"","broker":"b9b83653.d0b468","x":1180,"y":520,"wires":[]},{"id":"a44da5b3.fc70a8","type":"mqtt out","z":"c18f7b24.7e50c8","name":"Valve 3","topic":"\"KRG001inputvalve3\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":1180,"y":600,"wires":[]},{"id":"f52e3406.d18ba8","type":"modbus-read","z":"c18f7b24.7e50c8","name":"Valve 4","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"133","quantity":"1","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"4ecf2734.33e1d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":870,"y":680,"wires":[["1fef1b18.723e45"],[]]},{"id":"1fef1b18.723e45","type":"mqtt out","z":"c18f7b24.7e50c8","name":"Valve 4","topic":"\"KRG001inputvalve4\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":1180,"y":680,"wires":[]},{"id":"245cd142.1d6a86","type":"mqtt in","z":"c18f7b24.7e50c8","name":"","topic":"\"KRG001CYLINDERHONDA\"","qos":"0","broker":"b9b83653.d0b468","x":180,"y":560,"wires":[["35f85e18.d7833a"]]},{"id":"3eca669b.6f4b42","type":"mqtt in","z":"c18f7b24.7e50c8","name":"","topic":"\"KRG001CVTHONDA\"","qos":"0","broker":"b9b83653.d0b468","x":240,"y":460,"wires":[["4baa5b32.ea0134"]]},{"id":"b5eff1a8.a5861","type":"modbus-write","z":"c18f7b24.7e50c8","name":"Auto CVT","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"1000","quantity":"1","server":"4ecf2734.33e1d8","x":680,"y":460,"wires":[[],[]]},{"id":"f65ae714.dfa498","type":"modbus-write","z":"c18f7b24.7e50c8","name":"Auto Cylinder","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"1001","quantity":"1","server":"4ecf2734.33e1d8","x":680,"y":560,"wires":[[],[]]},{"id":"1aa7424f.e2beae","type":"modbus-read","z":"66690146.603d8","name":"Mesin Aktif","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"4","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"204bf7de.ff89d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":700,"y":40,"wires":[["27f72ee.31ecfd2"],[]]},{"id":"315c5a54.fd43de","type":"mqtt out","z":"66690146.603d8","name":"","topic":"\"KRG01STATUSMESIN\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":1150,"y":40,"wires":[]},{"id":"27f72ee.31ecfd2","type":"function","z":"66690146.603d8","name":"First data","func":"msg.payload = msg.payload[0];  // ambil elemen pertama\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":40,"wires":[["315c5a54.fd43de"]]},{"id":"ae6bbfeb.44a2","type":"function","z":"66690146.603d8","name":"","func":"\nmsg.payload = msg.payload/10;\nreturn msg;\n","outputs":1,"noerr":0,"x":960,"y":660,"wires":[["2769f529.2b35ba"]]},{"id":"a549a81c.9268f8","type":"function","z":"66690146.603d8","name":"","func":"// Ambil nilai dari payload\nlet data = msg.payload;\n\n// Pastikan data adalah array dan memiliki 2 elemen\nif (!Array.isArray(data) || data.length !== 2) {\n    return null; // Jika tidak sesuai, hentikan proses\n}\n\nlet rawValue = (data[1] << 8) | data[0];\n\n// Pindahkan koma dua tempat ke kiri (bagi 100)\nlet formattedValue = rawValue / 100;\n\n// Set hasil ke payload sebagai number\nmsg.payload = formattedValue;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":780,"wires":[["d4f9b98b.92b578"]]},{"id":"4baa5b32.ea0134","type":"change","z":"c18f7b24.7e50c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":440,"wires":[["b5eff1a8.a5861"]]},{"id":"35f85e18.d7833a","type":"change","z":"c18f7b24.7e50c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":580,"wires":[["f65ae714.dfa498"]]},{"id":"3e6cbddf.a4a30a","type":"modbus-read","z":"c18f7b24.7e50c8","name":"Valve 5","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"134","quantity":"1","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"4ecf2734.33e1d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":870,"y":760,"wires":[["cbfae802.bedd8"],[]]},{"id":"cbfae802.bedd8","type":"mqtt out","z":"c18f7b24.7e50c8","name":"Valve 5","topic":"\"KRG001inputvalve5\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":1180,"y":760,"wires":[]},{"id":"be401097.ee3f5","type":"modbus-read","z":"c18f7b24.7e50c8","name":"Valve 4","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"135","quantity":"1","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"4ecf2734.33e1d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":870,"y":840,"wires":[["76168a07.e27a34"],[]]},{"id":"76168a07.e27a34","type":"mqtt out","z":"c18f7b24.7e50c8","name":"Valve 6","topic":"\"KRG001inputvalve6\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":1180,"y":840,"wires":[]},{"id":"f46c441f.afddc","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG01valuevalve1\"","topic":"\"KRG01valuevalve1\"","qos":"","retain":"","broker":"b9b83653.d0b468","x":1180,"y":180,"wires":[]},{"id":"93058cef.f3a2","type":"modbus-read","z":"16610ff9.130c4","name":"Valve 1","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"130","quantity":"2","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":930,"y":160,"wires":[["f46c441f.afddc"],[]]},{"id":"359f1e6d.76dfa2","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG01valuevalve2\"","topic":"\"KRG01valuevalve2\"","qos":"","retain":"","broker":"b9b83653.d0b468","x":1180,"y":240,"wires":[]},{"id":"e8ff6dae.274ea8","type":"modbus-read","z":"16610ff9.130c4","name":"Valve 2","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"131","quantity":"2","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":930,"y":240,"wires":[["359f1e6d.76dfa2"],[]]},{"id":"8404bab3.454b38","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG01valuevalve3\"","topic":"\"KRG01valuevalve3\"","qos":"","retain":"","broker":"b9b83653.d0b468","x":1180,"y":300,"wires":[]},{"id":"1930a6ec.7d5ea9","type":"modbus-read","z":"16610ff9.130c4","name":"Valve 3","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"132","quantity":"2","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":910,"y":300,"wires":[["8404bab3.454b38"],[]]},{"id":"1ebc1707.f1cf69","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG01valuevalve4\"","topic":"\"KRG01valuevalve4\"","qos":"","retain":"","broker":"b9b83653.d0b468","x":1180,"y":360,"wires":[]},{"id":"fb8d79f8.080a3","type":"modbus-read","z":"16610ff9.130c4","name":"Valve 4","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"134","quantity":"2","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":890,"y":360,"wires":[["1ebc1707.f1cf69"],[]]},{"id":"790b7ef2.e31708","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG01valuevalve5\"","topic":"\"KRG01valuevalve5\"","qos":"","retain":"","broker":"b9b83653.d0b468","x":1180,"y":420,"wires":[]},{"id":"8049c751.df55a8","type":"modbus-read","z":"16610ff9.130c4","name":"Valve 5","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"135","quantity":"2","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":910,"y":420,"wires":[["790b7ef2.e31708"],[]]},{"id":"2ca36bac.96b9a4","type":"mqtt out","z":"16610ff9.130c4","name":"\"KRG01valuevalve6\"","topic":"\"KRG01valuevalve6\"","qos":"","retain":"","broker":"b9b83653.d0b468","x":1180,"y":480,"wires":[]},{"id":"54be57f1.549c9","type":"modbus-read","z":"16610ff9.130c4","name":"Valve 6","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"136","quantity":"2","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e02ad17a.58ce5","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":890,"y":480,"wires":[["2ca36bac.96b9a4"],[]]},{"id":"77173b4a.3fe57c","type":"modbus-read","z":"66690146.603d8","name":"Manual","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"13","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"204bf7de.ff89d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":90,"y":280,"wires":[["cde2850f.2b7d58"],[]]},{"id":"c536de31.7cef78","type":"modbus-read","z":"66690146.603d8","name":"Mesin Aktif","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"14","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"204bf7de.ff89d8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":100,"y":360,"wires":[["ce7a9e7a.a44438"],[]]},{"id":"e12b3da1.13c048","type":"mqtt out","z":"66690146.603d8","name":"","topic":"\"KRG01STATUSMANUAL\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":480,"y":260,"wires":[]},{"id":"cde2850f.2b7d58","type":"function","z":"66690146.603d8","name":"","func":"msg.payload = msg.payload[0];  // ambil elemen pertama\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":260,"wires":[["e12b3da1.13c048"]]},{"id":"ce7a9e7a.a44438","type":"function","z":"66690146.603d8","name":"","func":"let data = msg.payload;\n\n// Ambil semua item yang bernilai true dan ubah jadi false\nlet hasil = data.filter(item => item === true).map(() => false);\n\nmsg.payload = hasil;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":360,"wires":[["bbb8b454.54ed88"]]},{"id":"bbb8b454.54ed88","type":"mqtt out","z":"66690146.603d8","name":"","topic":"\"KRG01STATUSAUTO\"","qos":"0","retain":"","broker":"b9b83653.d0b468","x":490,"y":360,"wires":[]},{"id":"efc25371.818498","type":"mqtt in","z":"c18f7b24.7e50c8","name":"","topic":"\"KRG001ONRECIPRO\"","qos":"0","broker":"b9b83653.d0b468","x":270,"y":160,"wires":[["42751658.b4e32"]]},{"id":"8b1bee45.3e368","type":"modbus-write","z":"c18f7b24.7e50c8","name":"On Recipro","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"112","quantity":"1","server":"4ecf2734.33e1d8","x":710,"y":160,"wires":[[],[]]},{"id":"f72aeb41.dc4c68","type":"mqtt in","z":"c18f7b24.7e50c8","name":"","topic":"\"KRG001OFFRECIPRO\"","qos":"0","broker":"b9b83653.d0b468","x":170,"y":220,"wires":[["e14d07da.a3945"]]},{"id":"53e41b38.74d1a4","type":"modbus-write","z":"c18f7b24.7e50c8","name":"Off Recipro","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"113","quantity":"1","server":"4ecf2734.33e1d8","x":640,"y":220,"wires":[[],[]]},{"id":"c52202d6.412d08","type":"debug","z":"c18f7b24.7e50c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":100,"wires":[]},{"id":"42751658.b4e32","type":"change","z":"c18f7b24.7e50c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":160,"wires":[["8b1bee45.3e368","c52202d6.412d08"]]},{"id":"e14d07da.a3945","type":"change","z":"c18f7b24.7e50c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["53e41b38.74d1a4"]]}]